body{
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

.chat-box{
  border: 2px solid grey;
  border-radius: 5px;
  border-top-left-radius: 0;
  margin: 5px 0;
  padding: 10px;
  background-color: #003865;
  color: white;
}

.message-box{
  width: 100%;
  position: fixed;
  bottom: 30px;
  display: flex;
  flex-direction: row;
}

.chat-box.me{
  border-top-right-radius: 0;
  background-color: #82CD47;
}

.container{
  display: flex;
}

.container.me{
  flex-direction: row-reverse;
}

.send{
  margin-left: 20px;
  padding: 5px;
  border-radius: 20%;
}

.message-box > input {
  width: 75%;
  height: 30px;
  border-radius: 5%;
}