body{
  color: white;
}

.chat-contain{
  background-color: rgba(0, 0, 0, .8);
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
}

.chat-box{
  border: 2px solid grey;
  border-radius: 5px;
  border-top-left-radius: 0;
  margin: 5px 0;
  margin-left: 120px;
  margin-right: 120px;
  padding: 10px;
  background-color: #003865;
  color: white;
}

.message-box{
  width: 80%;
  right: 20%;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  position: fixed;
}

h1{
  background-color: #82CD47;
  padding-left: 120px;
}

.chat-box.me{
  border-top-right-radius: 0;
  background-color: #82CD47;
}

.container{
  display: flex;
}

.container.me{
  flex-direction: row-reverse;
}

.send{
  width: 80px;
  margin-left: 20px;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
}

.message-box > input {
  width: 80%;
  margin-left: 25%;
  height: 30px;
  border-radius: 5%;
}